{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ url('account-homepage') }}">Home</a></li>
        <li><a href="{{ url('account-add-user') }}">Add user</a></li>
    </ul>

    <h2>User details</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h2>Calendar Integrations</h2>
    <ul>
        {% for calendar_integration in user_integration %}
            <li>
                {{ calendar_integration.service.name }} |
                {% if calendar_integration.token is not null %}
                    yes |
                    <a href="{{ url('account-delete-calendar-integration', {'providerName': calendar_integration.service.code, 'objectId': account_user.objectId, 'tokenObjectId': calendar_integration.token.objectId}) }}">delete</a> |
                    <a href="{{ url('account-view-calendar-integration', {'providerName': calendar_integration.service.code, 'objectId': account_user.objectId}) }}">view connected calendars</a> |
                    <a href="{{ url('account-view-events-integration', {'providerName': calendar_integration.service.code, 'objectId': account_user.objectId}) }}">view events</a> |
                {% else %}
                    no <a href="{{ url('integration-calendar-connect', {'providerName': calendar_integration.service.code, 'objectId':account_user.objectId}) }}">link</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    Edit user
{% endblock %}

